name: Coverage (Kover)

on:
  pull_request:
  push:
    branches:
      - main
      - dev

permissions:
  contents: read

jobs:
  coverage:
    name: coverage kover
    uses: IngSisG10/snippet-infrastructure/.github/workflows/coverage.yml@main
    permissions:
      contents: read
      pull-requests: write
    secrets: inherit
