name: New version workflow

on:
  workflow_dispatch: {}
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write

jobs:
  publish-components:
    uses: IngSisG10/snippet-infrastructure/.github/workflows/publish_components.yml@main
    secrets: inherit

  start-vm:
    uses: IngSisG10/snippet-infrastructure/.github/workflows/azure_start_vm.yml@main
    secrets: inherit

  deploy-azure:
    needs:
      - start-vm
      - publish-components
    uses: IngSisG10/snippet-infrastructure/.github/workflows/azure_deploy_services.yml@main
    secrets: inherit

  shut-down-vm:
    needs:
      - deploy-azure
      - start-vm
    if: ${{ needs.start-vm.outputs.pre_status == 'VM deallocated' }}
    uses: IngSisG10/snippet-infrastructure/.github/workflows/azure_stop_vm.yml@main
    secrets: inherit